@import "tailwindcss";

:root {
  --peachcream: #F5E4DA;
  --coraldust: #F6A88A;
  --softapricot: #FFBC99;
  --burntclay: #D47156;
  --warmbrown: #8C4A3D;
  --vanillamist: #FFF4EE;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* styles/globals.css */

/* === MADE INFINITY 기본 버전 === */
@font-face {
  font-family: 'MadeInfinity';
  src: url('/fonts/MADEINFINITYPersonalUse-Thin.otf') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'MadeInfinity';
  src: url('/fonts/MADEINFINITYPersonalUse-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'MadeInfinity';
  src: url('/fonts/MADEINFINITYPersonalUse-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'MadeInfinity';
  src: url('/fonts/MADEINFINITYPersonalUse-Medium.otf') format('opentype');
  font-weight: 500;
}

/* === MADE INFINITY 아웃라인 버전 === */
@font-face {
  font-family: 'MadeInfinityOutline';
  src: url('/fonts/MADEINFINITYOutlinePersonalUse-Thin.otf') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'MadeInfinityOutline';
  src: url('/fonts/MADEINFINITYOutlinePersonalUse-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'MadeInfinityOutline';
  src: url('/fonts/MADEINFINITYOutlinePersonalUse-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'MadeInfinityOutline';
  src: url('/fonts/MADEINFINITYOutlinePersonalUse-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'MadeInfinityOutline';
  src: url('/fonts/MADEINFINITYOutlinePersonalUse-Black.otf') format('opentype');
  font-weight: 900;
}


/* 전역 기본 폰트 설정 */


body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'MadeInfinity', sans-serif;
}
